/* body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

li {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-decoration-color: white;
  place-items: right;
}

.btn {
  align-items: center;
  justify-content: center;
  color: black;
  border-style: solid;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}

input {
  border: 3px;
  border-style: solid;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 8px;
  font-size: medium;
  border-radius: 5px;
}

.btn-small {
  justify-content: flex-end;
  cursor: pointer;
  padding: 8px;
  font-size: medium;
  border-radius: 5px;
}

span {
  display: flexbox;
  padding-right: 100px;
  color: white;
}

input {
  margin-top: 50px;
}
